/* .text_one{
    color: red
}

.text_two{
    color: red;
    font-size: 3rem;
} */

/* p{
    color: red;
} */


/* .text_red{
    color: red;
}

.text_blue{
    color: blue;
}

.text_large{
    font-size: 2rem;
}
.text_xlarge{
    font-size: 5rem;
} */


.text-red-600{
    color: red;
}